doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='script', href='/socket.io/socket.io.js')
    link(rel='script', href='/javascripts/lyrics_getter.js')
  body
    block content
